<!doctype html>

<head>
   <title>My title</title>
   <link rel="stylesheet" href="http://stash.compjour.org/assets/css/foundation.css">
</head>

<body style="width: 880px; margin: auto;">
    <h1>Welcome to paper graph</h1>
    <p>Paper you are interested in:</p>
    <p>And here's an image:</p>
    If you want to check out neo4j database, click <a href="http://54.200.13.63:7474/browser/">here</a>!!!
    <a href="https://www.flickr.com/photos/zokuga/14615349406/">
        <img src="http://stash.compjour.org/assets/images/sunset.jpg" alt="it's a nice sunset">
    </a>
</body>
